<!DOCTYPE html>
<html lang="en">
{{> head}}
<body>
{{> header}}
<div class="menuDiv leftDiv">
    <div class="authImgDiv">
        <a href="/">
            <img id="backImg" src="/images/back.png" alt="back">
        </a>
    </div>
</div>
<div class="menuDiv rightDiv">
    {{#login}}
        <div class="roleDiv">
            <p id="userDataP">{{role}}: {{login}}</p>
        </div>
        <div class="authImgDiv">
            <a href="/" id="logoutA">
                <img id="authImg" src="/images/logout3.png" alt="logout">
            </a>
        </div>
    {{/login}}
    {{^login}}
        <div class="roleDiv">
            <p id="userDataP">Користувач</p>
        </div>
        <div class="authImgDiv">
            <a href="/auth/login">
                <img id="authImg" src="/images/user.png" alt="login">
            </a>
        </div>
    {{/login}}
</div>
{{#data}}
    <form action="/forms/{{form_id}}/update/" , method="POST" , enctype="multipart/form-data">
        <div class="mainDiv">
            <div class="leftPartMainDiv">
                <p class="mainListP">Cтара версія бланка</p>
                <div class="filtersMainDiv">
                    <div class="tileDive">
                        <img src="/images/number.png" alt="number">
                        <p>Номер</p>
                        <div>
                            <p>{{old_number}}</p>
                            <input name="old_number" value="{{old_number}}" type="hidden">
                        </div>
                    </div>
                    <div class="tileDive">
                        <img src="/images/series.png" alt="series">
                        <p>Серія</p>
                        <div>
                            <p>{{old_series}}</p>
                            <input name="old_series" value="{{old_series}}" type="hidden">
                        </div>
                    </div>
                    <div class="tileDive">
                        <img src="/images/calendar.png" alt="date of usage">
                        <p>Дата використання</p>
                        <div>
                            <p>{{old_usage_date}}</p>
                            <input name="old_usage_date" value="{{old_usage_date}}" type="hidden">
                        </div>
                    </div>
                    <div class="tileDive bigDiv">
                        <img src="/images/register.png" alt="registered on">
                        <p>Зареєстровано на</p>
                        <div class="initialsDiv">
                            <p>{{old_name}}</p>
                            <p>{{old_surname}}</p>
                            <p>{{old_middle_name}}</p>
                        </div>
                    </div>
                    <div class="tileDive tileDive2">
                        <img src="/images/status.png" alt="document status">
                        <p>Статус бланка</p>
                        <div>
                            <p>{{old_status}}</p>
                            <input name="old_status" value="{{old_status}}" type="hidden">
                            <input name="old_person_id" value="{{old_person_id}}" type="hidden">
                            <input name="old_status_id" value="{{old_status_id}}" type="hidden">
                        </div>
                    </div>
                </div>
            </div>
            <div class="rightPartMainDiv">
                <p class="mainListP">Поточна версія бланка</p>
                <div class="filtersMainDiv" id="fullHeight">
                    <div class="tileDive">
                        <img src="/images/number.png" alt="number">
                        <p>Номер</p>
                        <div>
                            <p>{{number}}</p>
                        </div>
                    </div>
                    <div class="tileDive">
                        <img src="/images/series.png" alt="series">
                        <p>Серія</p>
                        <div>
                            <p>{{series}}</p>
                        </div>
                    </div>
                    <div class="tileDive">
                        <img src="/images/calendar.png" alt="date of usage">
                        <p>Дата використання</p>
                        <div>
                            <p>{{date}}</p>
                        </div>
                    </div>
                    <div class="tileDive bigDiv">
                        <img src="/images/register.png" alt="registered on">
                        <p>Зареєстровано на</p>
                        <div class="initialsDiv">
                            <p>{{name}}</p>
                            <p>{{surname}}</p>
                            <p>{{middle_name}}</p>
                        </div>
                    </div>
                    <div class="tileDive tileDive2">
                        <img src="/images/status.png" alt="document status">
                        <p>Статус бланка</p>
                        <div>
                            <p>{{status}}</p>
                        </div>
                    </div>
                    <div>
                        <input type="submit" value="Повернутися до старого стану бланка" id="bigInput">
                    </div>
                </div>
            </div>
        </div>
    </form>
{{/data}}
{{> footer}}
</body>
<script src="/javascripts/logoutScript.js"></script>
</html>