<!DOCTYPE html>
<html lang="en">
{{> head}}
<body>
{{> header}}
<div class="menuDiv leftDiv">
    <div class="authImgDiv">
        <a href="/forms/all">
            <img id="backImg" src="/images/back.png" alt="back">
        </a>
    </div>
</div>
<div class="mainDiv">
    <div class="rightPartMainDiv" id="withoutLineDiv">
        <p class="mainListP">Новий бланк</p>
        <form action="/forms" , method="POST" , enctype="multipart/form-data">
            <div class="filtersMainDiv">
                <img id="newFormImg" src="/images/document.png" alt="document">
                <div class="tileDive">
                    <img src="/images/series.png" alt="series">
                    <p>Серія</p>
                    <div>
                        <input class="seriesInput" type="number" placeholder="0" name="series"/>
<!--                        <input class="dateInput" type="hidden" name="usage_date" value=null/>-->
                        <input class="statusInput" type="hidden" name="login" value="{{login}}"/>
                        <input class="statusInput" type="hidden" name="status" value="Невикористаний"/>
                    </div>
                </div>
                <div class="tileDive">
                    <img src="/images/number.png" alt="number">
                    <p>Номер</p>
                    <div>
                        <input class="numberInput" type="number" placeholder="0" name="number"/>
                    </div>
                </div>
                <div>
                    <input type="submit" value="Додати">
                </div>
            </div>
        </form>
    </div>
</div>
{{> footer}}
</body>
</html>